body, html, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(231, 231, 231);
}

#trailsWidget {
    background-color: #242424;
    padding: 5px;;
}
.trails-widget {
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #adadad;
    cursor: pointer;
}

.trails-widget-active {
    border: 2px solid #adadad;
}


@media (min-width: 48em) {
    #map {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}